* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  height: 100vh;
  background-image: url("assets/cafe-landing.jpg");
  background-size: cover;
  /* position: absolute; */
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  z-index: 1;
}

/* ------ NAV STYLING ------ */
nav {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid white;
  margin: 0 2rem;
}

nav h1 {
  font-weight: 400;
}
