* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  /* height: 100vh;
  background-image: url("assets/cafe-landing.jpg");
  background-size: cover; */
  /* position: absolute; */
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.font-weight-400 {
  font-weight: 400;
}

/* ------ ANIMATIONS ------ */
@keyframes slideInFromTop {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    left: -2000px;
  }
  100% {
    left: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    right: -2000px;
  }
  100% {
    right: 0;
  }
}

@keyframes slideInFromBottom {
  0% {
    bottom: -1000px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0); /* start and end position */
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-5px, -5px); /* move left */
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(5px, 5px); /* move right */
  }
}

@keyframes spin {
  0% {
    transforrm: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------ NAV STYLING ------ */
.landing-nav {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 100;
  border-bottom: 1px solid white;
  margin: 0 2rem;
  top: -100px;
  animation: slideInFromTop 0.5s ease forwards;
}

.landing-nav h1 {
  font-weight: 400;
}

/* ------ LANDING STYLING ------ */
.ruthie {
  font-family: "Ruthie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
}

.landing--menu-btn {
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.negative-margin {
  margin-bottom: -45px;
  transition: margin-bottom 0.3s ease-in;
}

.negative-margin:hover {
  margin-bottom: 0;
}

.landing--main-container {
  height: 100vh;
  background-image: url("assets/cafe-landing.jpg");
  background-size: cover;
}

.landing--wrapper-container {
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  gap: 18%;
  overflow: hidden;
}

.landing--flex-container {
  color: white;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  width: 33%;
  height: 100vh;
  justify-content: center;
}

.landing--flex-left-container {
  left: -2000px;
  animation: slideInFromLeft 0.5s ease forwards;
  padding-bottom: 2rem;
  justify-content: flex-end;
}

.landing--discount-container {
  position: relative;
}

.landing--discount-container:hover {
  animation: spin 0.5s ease forwards;
}

.landing--contact-container {
  transform: rotate(-10deg);
}

.landing--contact {
  padding-left: 1rem;
  position: relative;
}

.landing--contact:hover {
  animation: shake 2s ease infinite;
}

#flex-bottom {
  align-self: flex-end;
  padding-left: 1rem;
}

.landing--flex-bottom-container {
  bottom: -1000px;
  animation: slideInFromBottom 0.5s ease forwards;
  justify-content: space-around;
}

.landing--menu-text {
  font-size: 4rem;
  font-weight: 400;
}

#landing--menu {
  transform: skewX(-15deg);
}

#landing--cart-btn {
  padding: 3rem;
  background: transparent;
  border: solid white;
  color: white;
  border-radius: 50%;
  outline: 0;
  transition: border 0.3s ease-in;
}

#landing--cart-btn:hover {
  border: solid #69e765;
}

#landing--established-container {
  gap: 5px;
  text-align: center;
  align-self: flex-end;
  margin-right: 1rem;
}

.landing--flex-right-container {
  right: -2000px;
  animation: slideInFromRight 0.5s ease forwards;
  justify-content: flex-end;
}

/* ------ MENU NAV STYLING ------ */
